html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #f2545f;
  border-radius: 5px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}
